body {
  background-color: #161616;
  margin: 0;
  padding: 0;

}

.main-conteiner {
  width: 80%;
  /* Set the desired width of your main container */
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/*Header styles*/
.header {
  display: flex;
  background-color: #1a1e1f;
  height: 90px;
  position: sticky;
  top: 0px;
  left: 0px;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.responsive-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}

.header-logo {
  margin-left: 36px;
  margin-top: 22px;
  margin-bottom: 22px;
  margin: auto;
}

.header-logo svg {
  width: 182px;
  height: 40px;
}

.header-menu a {
  padding-inline: 10px;
  text-decoration: none;
  color: #F4F4F4;
  transition: background-color 0.5s, color 0.5s;
}

.header-menu a:hover {
  color: #00aeef;
}

.header-menu a:active {
  color: #00aeef;
}

/*End Header styles*/



/* start cover styles */
.cover {
  height: 356px;
  background-image: url("pictures/3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
}

.cover h3 {
  align-content: space-around;
}

/*End Cover styles*/

/* Start Description styles */
.description {
  background-color: rgb(43, 43, 43);
}

.description h1 {
  padding-top: 50px;
}

.description a {
  color: #00aeef;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s;
}

.description a:hover {
  color: #c0c0c0;
}

/* End Description styles */

/* Start Courses Styles */

.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: space-evenly;

}

.courses {
  color: #F4F4F4;
}

.courses a {
  text-decoration: none;
  color: #00aeef;

}

.gg-arrow-right {
  color: #00aeef;
}

.alternative {
  border: 1px solid rgba(255, 255, 255, 0.39);
  width: 300px;
  height: 414px;
  border-radius: 3%;
  margin: auto;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  display: grid;
}

.alternative img {
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  object-fit: cover;
}

/* End Courses Styles */

/* Start Carousel Styles */
.carousel-container {
  position: relative;
  max-width: 1000px;
  /* Adjust the maximum width as needed */
  overflow: hidden;
  color: #F4F4F4;
  font-size: 20px;
}

.slides {
  display: flex;
  transition: auto;
}

.slide {

  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.slide img {
  width: 25%;

}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  color: #fff;
}

.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
}

/* End 'Carousel' Styles */

/* Starst 'how-to' styles */
.how-to {
  color: #F4F4F4;
  padding-top: 20px;
  padding-bottom: 20px;
}

.frequently-asked-questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frequently-asked-questions a {
  color: #00aeef;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s;
}

.frequently-asked-questions a:hover {
  color: #c0c0c0;
}

.questions a {
  color: #F4F4F4;
  text-decoration: none;
  font-size: 20px;
}

.hidden-content {
  display: none;
  font-size: 15px;
}

.question {
  cursor: pointer;
  border-bottom: 1px solid #c0c0c063;
  font-size: 20px;
}

ul {
  list-style: none;
}

/* End 'how-to' styles */

h1 {
  color: #F4F4F4;
  text-align: start;
  line-height: 1.6em;
  letter-spacing: normal;
  font-size: 28px;
}

h3 {
  color: rgb(244, 244, 244);
  font-size: 42px;
}

h4 {
  margin-top: 0%;
  color: rgb(244, 244, 244);
  font-size: 34px;
  line-height: 1.6em;
}

/* Start 'footer' styles */

.footer {
  background-color: #1a1e1f;
  color: #F4F4F4;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
}

.copyright {
  display: grid;
  gap: 15px;
}

.contact {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: 38px;
}

.contact-img {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.footer a {
  color: #F4F4F4;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

.role:hover {
  color: #c0c0c0;
}

.contact a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-start;
}

button {
  background-color: #00aeef;
  color: #F4F4F4;
  border-radius: 4px;
  border-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  width: 200px;
  height: 50px;
}

button:hover {
  color: black;
  background-color: #c0c0c0;
  border-color: transparent;
}

/* End 'how-to' styles */

@media (max-width: 950px) {
  .main-conteiner {
    width: 90%;
  }

  .mySlides img {
    width: 30%;
  }

  .courses-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-content: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 770px) {
  .main-container {
    width: 90%;

  }

  .responsive-header {
    display: grid;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
    gap: 20px;
  }

  .header {
    height: 120px;
  }

  .mySlides img {
    width: 30%;

  }

  /*
  .footer-content {
    flex-direction: column;
    gap: 30px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 38px;
    justify-content: center;
    align-items: flex-start;
  }
  */
}

@media (max-width: 640px) {
  .courses-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    align-content: center;
    justify-content: space-evenly;

  }
}