body{
 
}
div {
  border: 1px solid red;
}

.header {
  background-color: #1a1e1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 20px;
}
.header-menu a {
  padding-inline: 10px;
}


.body {
  background-color: #161616;
}

.one {
  background-image: url("pictures/3.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.two {
  background-color: rgb(43, 43, 43);

}
.three {
  color:#F4F4F4;
  /* display: */
}
.alternative {
  border: 1px solid rgba(255, 255, 255, 0.39);
  width: 300px;
  height: 414px;
  border-radius: 3%;
}
.four {
  background-color: #2b2b2b;
}
h1 {
  color: #F4F4F4;
  text-align: start;
  line-height: 1.6em;
  letter-spacing: normal;
  font-size: 28px;
}

h3 {
  color: rgb(244, 244, 244);
  font-size: 42px;
  margin-bottom: 0;

}

h4 {
  margin-top: 0%;
  color: rgb(244, 244, 244);
  font-size: 34px;
  line-height: 1.6em;
}
.footer {
  background-color: #1a1e1f;

}

.header-logo {
  margin-left: 36px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.header-logo svg {
  width: 182px;
  height: 40px;
}